<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<img src="/images/logo.png" alt="">
{{{body}}}

	<div class="login">
		<form method="post">
		<label>用户名</label>
		<input type="text" name="username" value=""/><br/>
		<label>密码</label>
		<input type="password" name="password" value=""/><br>
		<input type="submit" value="Submit" />
		</form>
	</div>
</body>
</html>