
	<div class="login">
		<form method="post" action="loginHandle">
		<label>用户名</label>
		<input type="text" name="username" value=""/><br/>
		<label>密码</label>
		<input type="password" name="password" value=""/><br>
		<input type="submit" value="Submit" />
		</form>
	</div>
{{title}}