<div class="tip">{{title}}</div>
<div class="register">
	<form method="post" action="registerHandle">
		<lable>用户名</lable>
		<input type="text" name="username"  class="username"/></br>
		<label>密码</label>
		<input type="password" name="pwd" class="pwd"/></br>
		<label>确认密码</label>
		<input type="password" name="checkPwd" class="checkPwd"/></br>
		<input type="submit" value="注册">
	</form>
</div>